body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-weight: 700;
}

.cart-item {
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    border-radius: 10px;
    width: 110px;
    height: 80px;

    object-fit: cover;
}

.cart-item p {
    margin: 0;
    font-size: 13px;
}

.cart-item input[type="number"] {
    width: 70px;
}


.card {
    border-radius: 15px;
    background-color: #fdfdfd;
}

.card h5 {
    font-weight: bold;
}

.btn-dark {
    font-weight: 600;
    border-radius: 10px;
}

footer {
    background-color: #f8f9fa;
    padding: 15px 0;
    margin-top: 40px;
}

@media (min-width: 1200px) {
    .cart-item img {
        width: 130px;
        height: 100px;
    }
    .cart-item p {
        margin-right: 10px;
        font-size: 12px;
    }
}