:root {
  --color-primario: #FFFFFF;
  --color-secundario: #060f1f;
  --Texto: #060f1f;
  --color-gris: #F5F5F5;
  --links: #265ebd;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-primario);
  color: var(--Texto);
}

/* Card del login */
.card {
  background-color: var(--color-gris);
  border-radius: 10px;
}

/* Inputs */
.form-control::placeholder {
  color: var(--Texto);
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(38, 94, 189, 0.3);
}

/* Botón */
.btn-primary {
  background-color: var(--color-secundario);
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0099cc;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

/* Links */
a {
  color: var(--links);
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: underline;
}

/* Responsive ajustes extra */
@media (max-width: 480px) {
  .card {
    padding: 20px;
    box-shadow: none;
    border-radius: 0;
  }

  .btn-primary {
    font-size: 1rem;
  }

  header img {
    max-width: 180px;
  }
}